[Desktop Entry]
Version=3.1.0
Name=Heritrix
Comment=Web Archiving Crawler
Exec=/home/dcic/heritrix/bin/heritrix
Icon=/home/alex/Pictures/backup.png
Terminal=true
Type=Application
Categories=Utility;Application;
